.block__author {
    margin-top: 50px;
}
.title_author {
    font-family: Roboto,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.subtitle__author__city {
    font-size: 14px;
    line-height: 16px;
    margin: 11px 0;
    font-weight: 500;
}
.author__text {
    margin-top: 7px;
    margin-bottom: 35px;
}
.links__host {
    display: inline-block;
    padding: 15px 24px 13px 27px;
    border: 1px solid #118488;
    color: #118488;
    box-sizing: border-box;
    border-radius: 4px;
}
.links__host:hover {
    background: #118488;
    color: white;
    transition: background 1s, color 0.5s;
}