.apartaments__title {
    font-size: 36px;
    color: #3d4e61;
}
.apartaments__subTitle {
    font-size: 16px;
    color: rgba(104, 124, 148, 1);
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}
.desc__item {
    font-size: 16px;
    color: #3d4e61;
    margin-right: 11px;
    font-weight: 700;
}
.desc__item:last-child {
    margin-right: 0px;
}
.text {
    color: #3d4e61;
    line-height: 24px;
    font-weight: 400;
    margin-top: 30px;
}
.links__tel {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 44px;
}