/*== Footer ==*/
footer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px -1px 0px #e1e7ed;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    width: 893px;
    margin: 0 auto;
}
.footer__item {
    margin-top: 44px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.footer__link {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20px;
}
.footer__link > .links{
    margin-top: 9px;
    font-weight: 400;
}
.footer__link > .links:last-child{
    margin-bottom: 43px;
}